.login{
	-fx-background-color: #95A5B6;
}

.login-titulo{
	-fx-font-size: 24px;
	-fx-text-fill: #0C0B12;
}

.login-form-label{
	-fx-font-size: 16px;
	-fx-text-fill: #0C0B12;
}

.login-form-botao{
	-fx-font-size: 16px;
}