.conteudo {
	-fx-background-color: #1D1E2A;
	-fx-font-family: "Oswald";
}

.titulo {
	-fx-text-fill: #7B899F;
	-fx-font-size: 44px;
}

.numero {
	-fx-text-fill: #7B899F;
	-fx-font-size: 32px;
}

.botoes {
	-fx-background-color: #C4D2DA;
	-fx-text-fill: #0C0B12;
	-fx-font-size: 24px;
	-fx-min-width: 50px;
	-fx-min-height: 40px;
	-fx-background-radius: 18px;
}

.verde {
	-fx-text-fill: #47A723;
}

.vermelho {
	-fx-text-fill: #D33A2E;
}